<h2>Details for user '<%= current_user.name %>'</h2>

<p><b>OpenID:</b> <%= current_user.openid_url %></p>
<p><b>Display Name:</b> <%= current_user.display_name %></p>
<p><b>Email Address:</b> <%= current_user.email_address %></p>
