<h2>Admin Controls</h2>

<ul>
<li><%= link_to "Invitations", :controller => "/admin/invitations" %></li>
<li><%= link_to "Users", :controller => "/admin/users" %></li>
<li><%= link_to "Presentation Types", :controller => "/admin/presentation_types" %></li>
</ul>
