<% content_for :title do %>Logout<% end %>
<div class="memo">
    <h2>Logoff</h2>

    <p>You are now logged out of the system...</p>
      
    <%= link_to "&#171; login", :action=>"login"%>  
      
</div>

